.burger {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}
.burger__line {
  position: absolute;
  width: 24px;
  height: 1px;
  background-color: $burger-bg;
  top: 50%;
  margin-top: -1px;
  left: 6px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.burger__line:first-child {
  transform: translateY(-8px);
}
.burger__line:last-child {
  transform: translateY(8px);
}
.burger--active .burger__line:first-child {
  transform: translateY(0) rotate(45deg);
  background-color: $burger-bg;
}
.burger--active .burger__line:nth-child(2) {
  background-color: transparent;
}
.burger--active .burger__line:last-child {
  transform: translateY(0) rotate(-45deg);
  background-color: $burger-bg;
}
