.main__container {
  padding-top: 40px;
  padding-bottom: 30px;
  @include media($sm) {
    padding-top: 32px;
  }
}
.main__wrap-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  @include media($sm) {
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-between;
  }
}
.main__title {
  @include font(28px, 32px, 600, $second-family);
  color: $header-color-grey;
  margin-bottom: 15px;
  @include media($sm) {
    margin-bottom: 0;
  }
}
.main__wrap {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @include media($sm) {
    grid-template-columns: minmax(320px, 1fr) minmax(160px, 2fr);
    grid-gap: 16px;
  }
  @include media($md) {
    grid-template-columns: minmax(320px, 1fr) minmax(700px, 3fr);
    grid-gap: 16px;
  }
}
.main__form {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 280px;
  z-index: 2;
  transition: transform 0.2s ease;
  transform: translateX(-100%);
  pointer-events: none;
  opacity: 0;
  overflow-y: auto;
  @include media($sm) {
    width: 100%;
    position: static;
    opacity: 1;
    transform: none;
    padding-top: 0;
    pointer-events: auto;
  }
  @include media($lg) {
    background-color: transparent;
  }
}
.main__form--active {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}
.main__burger {
  margin-left: auto;
  z-index: 3;
  position: absolute;
  top: 20px;
  right: 20px;
  @include media($sm) {
    display: none;
  }
}
